* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
.titel{
    text-align: center;
    font-size: 90px;
    
}
body{
    background-color: #DE3C4B 
}
.start{
    text-align: center;
}
.startButton{
    width: 200px;
    height: 50px; 
}